html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: hsl(202, 85%, 61%);
  border-radius: 0 0 10px 10px;
  border: white;
  border-style: ridge;
}

ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

ul li {
  padding: 10px;
}

h1 {
  padding-top: 100px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

#profile-image {
  max-width: 200px;
  min-width: 150px;
  height: auto;
  border-radius: 10px;
  border: hsl(202, 85%, 61%);
  border-style: ridge;
  margin: 0 auto;
}

#about-me {
  text-align: left;
}

#about-me,
#my-work,
#contact-me {
  background-color: rgb(90, 90, 90);
  padding: 50px;
  border: hsl(202, 85%, 61%);
  border-style: ridge;
  border-radius: 10px;
  max-width: 900px;
  margin: 50px auto;
}

#my-work {
  display: inline-block;
}

#showpiece {
  margin: 0 auto;
  text-align: center;
}

#thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#my-work img {
  margin-bottom: 20px;
  border-radius: 5px;
  border: hsl(202, 85%, 61%);
  border-style: ridge;
  max-width: 90%;
}

footer {
  margin-top: 700px;
}
